<html>
<!DOCTYPE html>
@{
    ViewData["Title"] = "Detail Film";
}
@model hentaweb_v2.Models.WatchInfo

<head>
    <link rel="stylesheet" href="~/css/watch.css">
    <link rel="stylesheet" href="~/css/button.css">
</head>
<body>
    <div class="link">Trang chủ\ @Model.film.FilmName</div>
    <div class="container">
<div class="frmovie">
    <div class="avamovie">
    <img src="@Model.film.FilmPoster" height="400" width="300" style="position: absolute"/>
    <ul class="list-button">
                    <li id="li1">
                        <a href="#" class="animated-button1">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Trailer
                        </a>
                    </li>
                    <li id="li2">
                        <a  href="#" class="animated-button4 ">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Xem
                        </a>
                    </li>
     </ul> 
    </div>
    <div class="titlemovie">
        <h1>Tên phim : @Model.film.FilmName</h1>
    </div>
    <div class="infmovie">
            <dl class="">
                <dt>Trạng thái:</dt>
              
                <dt>Đạo diễn:</dt>
             
                <dt>Thời lượng:</dt>

                <dt>Số tập: @Model.film.FilmCountEp</dt>
    
                <dt>Tình trạng:</dt>

                <dt>Ngôn ngữ: @Model.film.FilmArea</dt>

                <dt>Năm sản xuất: @Model.film.FilmYear</dt>

                <dt>Quốc gia: @Model.film.FilmArea</dt>
             
                <dt>Thể loại:</dt>
                <dt>Diễn viên:</dt>
            </dl>
    </div>
    <div class="rating">
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
            <img src="~/images/icons8_star_48px_3.png" />
           <h2>10 điểm / 69 lượt </h2>
    </div>
</div>
<div class="list-movie">
    <h1 id="phimlienquan">PHIM LIÊN QUAN</h1>
    @foreach (Film item in Model.listFilmLike)
    {
                <div class="movie">
                    <img class="poster" src="@item.FilmPoster"/>
                    <dl>
                       <h2>@item.FilmName</h2>
                     
                        <dt>Lượt xem: @item.FilmViewed</dt>
                        <div class="rating1">
                            <img src="~/images/icons8_star_48px_3.png" />
                            <img src="~/images/icons8_star_48px_3.png" />
                            <img src="~/images/icons8_star_48px_3.png" />
                            <img src="~/images/icons8_star_48px_3.png" />
                            <img src="~/images/icons8_star_48px_3.png" />
                        </div>
                    </dl>
                </div>
    }
    
</div>
       
    </div>
   
    <div class="fb">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="mxSGj4TR"></script>
        <div class="fb-comments" style="background-color:white; margin-top: 100px;position:relative;" data-href="http://localhost/Home/" data-width="1200" data-numposts="5"></div>
    </div>
</body>

</html>
